@import "../styles/main-page.css";
@import "../styles/direction-detail.css";
@import "../styles/news.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --main-black: #0A0A0A;
    --secondary-black: rgba(10, 10, 10, 0.8);
}

* {
    @apply font-roboto;
}

h1, h2, h3, h4, h5, h6, h1 *, h2 * {
    @apply font-roboto-condensed tracking-[0.005em] font-bold;
}

h1 {
    @apply font-bold text-[36px] leading-[43px] 2xl:text-[80px] 2xl:leading-[96px] xl:text-[70px] xl:leading-[84px] lg:text-[60px] lg:leading-[72px] md:text-[50px] md:leading-[60px]
}

.c-container {
    @apply mx-auto xl:max-w-[1440px] lg:px-10 md:px-8 px-6;
}

body.menu-open {
    overflow: hidden;
    padding-right: var(--scrollbar-width); /* Add padding when modal is open */
}

:root {
    --scrollbar-width: 0; /* Initialize the value*/
}

.icon-wrapper {
    @apply text-white;
}

.icon-wrapper:hover svg {
    opacity: 0.8;
}

.screen-width-line {
    position: relative;
}

.screen-width-line::after {
    content: '';
    width: calc(100vw - var(--scrollbar-width));
    position: absolute;
    bottom: 0;
    left: calc(50% - 50vw + var(--scrollbar-width) / 2);
    height: 1px;
    @apply bg-[rgba(10,_10,_10,_0.06)];
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

.svg-map {
    color: #f5f5f5;

    @apply w-full;
}

.svg-map path.active {
    fill: #0094CC;
    color: #0094CC;
    transition: 200ms;

    @apply md:cursor-pointer;
}

path.active:hover {
    fill: rgba(0, 120, 165, 1);
    color: rgba(0, 120, 165, 1);
}

.tooltip {
    box-shadow: 20px 20px 40px 0 rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(30px);
    position: absolute;
    z-index: 10;
    padding: 16px;
    border-radius: 12px;
    /*opacity: 0;*/
}

.content-roboto-condensed * {
    @apply font-roboto-condensed;
}
